import logging
from aiogram import Bot, Dispatcher, types
from aiogram.utils import executor

# Botning tokeni
BOT_TOKEN = '6082663018:AAHk2PEckMgJw5fCjMoFMHwyy2NCUFZcx1s'

# Logger yaratish
logging.basicConfig(level=logging.INFO)

# Bot yaratish
bot = Bot(token=BOT_TOKEN)
dp = Dispatcher(bot)

# Start buyrug'iga javob berish
@dp.message_handler(commands=['start'])
async def send_welcome(message: types.Message):
    keyboard = types.ReplyKeyboardMarkup(resize_keyboard=True)
    menu_button = types.KeyboardButton(text="Menu")
    location_button = types.KeyboardButton(text="Manzilni jo'natish", request_location=True)
    keyboard.add(menu_button, location_button)
    await message.reply("Assalomu alaykum! Kafe Telegram botiga xush kelibsiz!\nQuyidagi tugmalardan birini tanlang:", reply_markup=keyboard)

# Menuga javob berish
@dp.message_handler(commands=['menu'])
async def send_menu(message: types.Message):
    menu = types.InlineKeyboardMarkup(row_width=2)
    menu.add(
        types.InlineKeyboardButton("Burger - 20,000 so'm", callback_data="Burger"),
        types.InlineKeyboardButton("Pizza - 25,000 so'm", callback_data="Pizza"),
        types.InlineKeyboardButton("Salat - 15,000 so'm", callback_data="Salat"),
        types.InlineKeyboardButton("Ko'k", callback_data="Cancel")
    )
    await message.reply("Bizning menyuda quyidagi taomlar mavjud. Buyurtmangizni tanlang:", reply_markup=menu)

# Taomlarni buyurtma qilish
@dp.callback_query_handler(lambda c: c.data and c.data.startswith('menu'))
async def process_callback_menu(callback_query: types.CallbackQuery):
    await bot.answer_callback_query(callback_query.id)
    await bot.send_message(callback_query.from_user.id, "Buyurtma qilish uchun quyidagi tugmalardan birini tanlang:", reply_markup=types.ReplyKeyboardRemove())
    await bot.send_message(callback_query.from_user.id, f"{callback_query.data}ni tanladingiz")

# Manzilni jo'natish tugmasiga javob berish
@dp.message_handler(content_types=['location'])
async def handle_location(message):
    location = message.location
    latitude = location.latitude
    longitude = location.longitude

    await bot.send_message(chat_id=message.chat.id, text="Manzilingiz qabul qilindi. Ishonchli ko'chaga boramiz.")

@dp.errors_handler(exception=Exception)
async def error_handler(update, exception):
    logging.exception(f"An exception of type {type(exception).__name__} occurred. Arguments: {exception.args}")
    await update.message.answer("Oops! Something went wrong.")

